<body>
    <!--header tag-->
    <header>
     <a href="#" class="logo">AT<span>Las</span></a>
     
     <ul class="navbar">
         <li><a class="active" href="#">Home</a></li>
         <li><a href="{% url "tour" %}">Tours</a></li>
         <li><a href="{% url "information" %}">Information</a></li>
         <li><a href="#">About Us</a></li>
         <li><a href="#">Culture</a></li>
         <li><a href="#">Contact Us</a></li>
     </ul>
 
     <div class="head-right">
         <a href="#">Follow Us</a>
         <a href="#"><i class="ri-instagram-line"></i></a>
         <a href="#"><i class="ri-facebook-line"></i></a>
         <a href="#"><i class="ri-twitter-fill"></i></a>
         <div class="bx bx-menu" id="menu-icon"></div>
     </div>
     
  </header>